{
    "extends": ["eslint:recommended", "prettier"],
	"parserOptions": {
		"requireConfigFile": false,
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"parser": "@typescript-eslint/parser"
}
